html{
    font-size: 312.5%;
}
body{
    font-size: initial;
    background: #fafafa;
}
p,h6,h4,ul{
    margin: 0;
}

/* header眉页 */
.padding-right{
    padding-right: 0;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
}
.service{
    line-height: .5rem;
    font-size: .14rem;
    color: #29B078;
}
.weixin{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    margin-right: .19rem;
    background: url(../picture/task-css8.png) no-repeat 0 0;
}
.qq{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    margin-right: .19rem;
    background: url(../picture/task-css8.png) no-repeat 0 -.58rem;
}
.weibo{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background: url(../picture/task-css8.png) no-repeat 0 -1.3rem;
}

/*下拉 导航栏 */
.bg-green{
    background: #29B078;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    margin-right: 0;
    font-size: 0;
}
.xiuzhenyuan{
    width: 3.5rem;
}
.navbar-toggler{
    padding: .15rem;
    border:none;
    outline: none !important;
    font-size: .5rem;
}
.navbar-toggler:hover {
    background: darkgreen;
}
@media (max-width:767px){
    .navbar-nav {
        text-align: center;
    }
}
@media (min-width: 768px){
    .navbar-collapse {
        display: flex!important;
        justify-content: flex-end !important;    
    }
}
@media (max-width:767px){
    .nav-link:hover{
        background: darkgreen;
    }

}
@media (min-width:768px){
    .nav-link:hover{
        border-bottom: .07rem solid  #ffffff;   
    }
    
}
.navbar-nav{
    line-height: .8rem;
}
.nav-link{
    padding: .2rem .5rem !important;
    border-bottom: .07rem solid  #29B078;
    font-size: .16rem;
    /* 字符间距 */
    letter-spacing: .1rem;
    color:#FFFFFF;
}


/* main主体 */

/* 轮播图 */
.picture-size{
    width: 100vw;
    height: 31vw;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.top-content{
    text-align: center;
}

.huojian{
    display: inline-block;
    width: .45rem;
    height: .62rem;
    margin-top: 1.65rem;
    background: url(../picture/task-css8.png) no-repeat -1.99rem 0;
}
.book{
    display: inline-block;
    width: .6rem;
    height: .48rem;
    margin-top: 1.65rem;
    background: url(../picture/task-css8.png) no-repeat -1.88rem -2.42rem;
}
.person{
    display: inline-block;
    width: .52rem;
    height: .55rem;
    margin-top: 1.65rem;
    background: url(../picture/task-css8.png) no-repeat -1.92rem -1.2rem;
}
h6{
    margin: .3rem 0;
    font-size: .18rem;
    color: #333333;
}
.synopsis{
    font-size: .16rem;
    color: #999999;
}
@media(min-width:576px){
    .left{
        text-align: left;
    }
}
@media(min-width:992px){
    .center{
        text-align: center;
    }
}
.digit{
    margin: 1.9rem 0 .17rem 0;
    font-size: .18rem;
    color: #26A26F;
}
.bottom-digit{
    margin: .32rem 0 .17rem 0;
    font-size: .18rem;
    color: #26A26F;
}
.digit::before{
    display: inline-block;
    content: "";
    width: .13rem;
    height: .13rem;
    margin-right: .14rem;
    background: url(../picture/task16-css8.png) no-repeat 0 -.01rem ;
}

.long {
    position: absolute;
    height: 2.2rem;
    margin: 2rem 0 0 -1.55rem;
    border: .01rem solid #DEDEDE;
}
@media(max-width:576px){
    .long{
        display: none;
    }
}
strong{
    display: block;
    margin: 1.51rem 0 .72rem 0;
    font-size: .18rem;
    color: #333333;
    text-align: center;
}
.box{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 0;
}
.circle{
    width: .7rem;
    height: .7rem;
    border-radius: 100%;
    border: .01rem solid #e4e4e4;
    background: #FFFFFF;
}
@media(max-width:575px){
    .col-md-3{
        padding-right: 15px;
    }
}
.circle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7rem;
    color:#29b078;
}
.font{
    flex: 1;
    margin: 0 .35rem;
    font-size: .14rem;
    color: #999999;
}
@media(min-width:992px){
    .font-right{
        flex: none;
    }
}
@media(max-width:767px){
    .font {
        flex: none;
        margin: 0;
    }
}
.arrows{
    width: .2rem;
    height: .2rem;
    background: url(../picture/task-css8.png) no-repeat 0 -1.94rem;
}
@media(max-width:767px) {
    .arrows{
        flex: none;
    }
}
@media (min-width:768px){
    .distance{
        margin-top:1.24rem;
    }
}
.student-box{
    width: 90%;
    padding: .2rem .32rem .4rem .32rem;
    margin: .2rem auto;
    border: .01rem solid #e4e4e4;
    background: #FFFFFF;
    text-align: center;
}
@media(max-width:425px){
    .student-box{
        width: 70%;
        margin: .2rem auto;
    }

}
.portrait{
    width: 1.08rem;
    height: 1.08rem;
}
h4{
    margin: .36rem 0 .26rem 0;
    font-size: .18rem;
    color: #333333;
}
.show{
    font-size: .18rem;
    color: #999999;
    text-align: left;
}
.none{
    list-style: none;
}
.indicate-box{
    text-align: center;
}
.indicate-green{
    display: inline-block;
    width: .13rem;
    height: .13rem;
    border-radius: 100%;
    background: #29B078;
}
@media(max-width:575px){
    .indicate-green{
        display: none;
    } 
}
.indicate{
    display: inline-block;
    width: .13rem;
    height: .13rem;
    border-radius: 100%;
    border: .01rem solid #e4e4e4;
    background: #FFFFFF;
}
.picture-box{
    width: 20%;
    height: 1.9rem;
    text-align: center;
}
.picture-box:hover{
    box-shadow: 3px 3px 3px 3px #999999;
}
@media(max-width:575px){
    .picture-box{
        width: 100%;
        height: 1.9rem;
        text-align: center;
    }
}
@media(max-width:575px){
    .picture{
        width: 80%;
    }
}

@media(max-width:575px){
    .indicate{
        display: none;
    } 
}
.collaborate{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    line-height: 1.78rem;
}
@media(max-width:575px){
    .collaborate{
        display:flow-root;
        background: #FFFFFF;
        line-height: 1.78rem;
    }
}
.alibaba{
    width: 1.78rem;
    height: 1.78rem;
}
.jishanyun{
    width: 1.75rem;
    height: 1.36rem;
}
.huanxin{
    width: 1.34rem;
    height: .69rem;
}
.ronglian{
    width: 1.75rem;
    height: .65rem;
}
.qiniu{
    width: 1.24rem;
    height: .65rem;
}
.bottom{
    margin-top:.93rem;
    background: #FFFFFF;
}
strong.font{
    margin-top: .21rem;
    font-size: .18rem;
    color: #333333;
}
.bottom-box{
    display: flex;
    justify-content: space-between;
    margin-top: .28rem;
}
@media(max-width:767px){
    .bottom-box{
        margin-top: .0;
    }
}
@media(max-width:450px){
    .bottom-box{
        display: flex;
        justify-content: space-evenly;
    }
}
ul.color{
    font-size: .01rem;
    color: #999999;
}
.bottom-font{
    display: inline-block;
    font-size: .14rem;
    border-bottom: .02rem solid #FFFFFF;
    color: #999999;
}
.bottom-font:hover{
    border-bottom: .02rem solid #26A26F;
}

@media(max-width:767px){
    .zoom{
        width: 20%;
        text-align: center;
        line-height: .5rem;
    }
}
@media(max-width:450px){
    .zoom{
        width: 35%;
        text-align: left;
        line-height: .5rem;
    }
}

/* footer页尾 */
footer{
    width: 100%;
    margin-top: .18rem;
    padding-top: .36rem;
    background: #26A26F;
}
.footer-font{
    font-size: .16rem;
    color: #FFFFFF;
}

.right-font{
    font-size: .16rem;
    color: #FFFFFF;
    text-align: right;
}
@media(min-width:576px){
    .center-box{
        margin-top:.3rem;
    }
}
.it{
    margin-left: .34rem;
}
@media(max-width:575px){
    .offset-4{
        margin-left: 0;
    }
}
div.erweima-center{
    text-align: right;
}
.erweima{
    display: block;
    width: .92rem;
    height: .92rem;
}
@media(max-width:575px){
    .erweima{
        margin-left: .25rem;
    }
}
a.erweima{
    position: absolute;
    top:.5rem;
    right: .55rem;
}
@media(max-width:575px){
    .erweima-center{
        position: absolute;
        top:-.7rem;
        right: 0;
        margin-right: .5rem;
    }
}
.copyright-box{
    padding:.07rem 0;
    margin-top: .33rem;
    border-top: .01rem solid #32C086;
}
.copyright{
    font-size:.14rem;
    text-align: center;
    color: #FFFFFF;
}