html {
    font-size: 312.5%;
}

body {
    font-size: initial;
    margin: 0;
}

h1,dd,dt,dl,
p {
    margin: 0;
}

header {position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5fc0cd;
}

.getback {
    position: absolute;
    left: 0.35rem;
    text-decoration: none;
    width: 0.21rem;
    height: 0.21rem;
    border-top: 0.03rem solid #ffffff;
    border-right: 0.03rem solid #ffffff;
    transform: rotate(225deg);
}

.homepage {
    font-size: 0.36rem;
    color: #ffffff;
}

.box {
    background: url(task1-css5.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 3.3rem;
    position: relative;
}

.portrait {
    position: absolute;
    top: 0.78rem;
    left: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
}

.name {
    position: absolute;
    top: 1.1rem;
    left: 2.5rem;
    font-size: 0.36rem;
    letter-spacing: 0.07rem;
    color: #ffffff;
}

.age {
    position: absolute;
    top: 1.2rem;
    left: 4rem;
    font-size: 0.28rem;
    letter-spacing: 0.03rem;
    color: #ffffff;
}

.site-box {
    position: absolute;
    top: 1.6rem;
    left: 2.5rem;
    width: 3rem;
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    width: 0.18rem;
    height: 0.23rem;
    margin: 0 0.2rem 0 0;
}

.font {
    font-size: 0.24rem;
    color: #ffffff;
}

.spot {
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 100%;
    margin: 0 0.1rem;
    background-color: #ffffff;
}

.main-box {
    width: 100%;
    height:5rem;
    background-color: #ffffff;
}

.content-box {
    display: inline-block;
    width: 100%;
    height: 1rem;
    border: 0.01rem solid #e1e5e7;
    display: flex;
    align-items: center;

}
span::before{content:"";
width: 0.04rem;
height: 0.26rem;
border: 0.04rem solid #5fc0cd;
margin: 0 0.3rem 0 0.3rem;
}
.wjx-left{width:0.24rem;
height: 0.24rem;
margin: 0 0.2rem 0 0.61rem;
}
.wjx-reight{width:0.24rem;
height: 0.24rem;
margin: 0 0.2rem 0 0.61rem;
}
dt     {padding:0 0 0 0.61rem;
color: #999999;
 }
dt::after{content:"";
width: 0.01rem;
height: 0.26rem;
border: 0.01rem solid #999999;
margin: 0 0.3rem 0 0.3rem;
}
.price{color: #E26163;}

.main-bottom-box{
display: inline-block;
display: flex;
align-items: center;
width:100%;
height:auto;
overflow:hidden;
line-height: 1rem;
border: 0.01rem solid #e1e5e7;
}
.nowrap{white-space:nowrap;}
.bottom-box{display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 1rem;
        background-color: #ffffff;
        }
.liuyan{display: flex;
 align-items: center;
 justify-content: center;
width: 50%;
 height: 0.88rem;
 margin: 0 0.25rem 0 0.37rem;
 color:#5FC0CD;
 border: 0.01rem solid #5fc0cd;
 outline: none;
 background-color: #ffffff;
 }
.contact{display: flex;
 align-items: center;
 justify-content: center;
width: 50%;
 height: 0.88rem;
 border: none;
 outline: none;
 margin: 0 0.37rem 0 0;
 color: #ffffff;
 background-color: #5FC0CD;
}